<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div.b{
            width:900px;
            margin:20px auto;
        }
        #a{
            /*border: 1px solid #929492;*/
            height:500px;
            width:100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="b">
    <div id="a"></div>
</div>

</body>
<script type="text/javascript" src="../javascripts/lib/orionEditor.js"></script>
<script>
    var a = new OrionEditor("a");
    var b = document.getElementsByClassName("b");
    a.initEditor({
        control:false
    });
//    a.obj.addListener("keyup",function(event){
//        var e = event||window.event;
//        if(e.keyCode === 8){
//            console.log(this.innerHTML);
//            if(this.innerHTML === ""){
//                console.log(1);
//            }
//        }
//    })
</script>
</html>