<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #a{
            /*border: 1px solid #929492;*/
            height:500px;
            width:100%;
            color: ;
        }
        #a p{
            font-family: Cursive;
            margin:0;
        }
    </style>
</head>
<body>
<label >title<input type="text"></label>
<div id="a"></div>
</body>
<script type="text/javascript" src="../javascripts/lib/orionEditor.js"></script>
<script>
    var a = new OrionEditor("a");
    a.initEditor();
    var div = document.getElementById("a");
    div.addEventListener("mousemove",function(e){
        var event = e||window.event;
    });
//    div.onblur = function(){
//        var p = document.createElement("p");
//        p.innerHTML = this.innerHTML;
//        this.innerHTML = "";
//        this.appendChild(p);
//        this.onblur = null;
//    };
</script>
</html>