<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>node+shellDEMO</title>
</head>
<body>
    <label>config</label>
    <input type="text" id="config"/>
    <button id="btn" style="position:absolute;top:50%;left:50%;margin-left:-100px;margin-top:-20px;border:none;height:40px;width:200px;background:#ff8d04;color:white">have a try</button>
    <div id="div"></div>
    <script>
        var config = document.getElementById('config');
        var btn = document.getElementById('btn');
        var div = document.getElementById('div');
        var a = 0;
        btn.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            if(a === 0){
                xhr.open('GET', '/haveatry', true);
                xhr.send(null);
                a++;
            }else{
                xhr.open('POST', '/a', true);
                xhr.send('config='+config.value);
            }
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    if(xhr.status === 200){
                        var d = JSON.parse(xhr.responseText);
                        div.innerHTML = d.data||d.v;
                    }
                }
            }
        });
    </script>
</body>
</html>
